# ==========================
# Java
# ==========================
**/target/
*.class

# ==========================
# Node.js
# ==========================
**/node_modules/
npm-debug.log*

# ==========================
# Python
# ==========================
**/__pycache__/
*.py[cod]
*.pyo

# ==========================
# Docker
# ==========================
*.tar

# ==========================
# Logs
# ==========================
*.log

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Environment Files
# ==========================
.env
.env.*